body {
    background-color: rgb(196, 196, 248)
}

.title {
    font-family:'Times New Roman', Times, serif;
    color:rgb(109, 65, 65);
    width: 200px;
    display: block;
    text-align: right;
    margin: 6px auto;
    padding: 12px;
}

.recipe-list {
    font-size: 20px;
    border: 4px solid rgb(109, 65, 65);
    border-radius: 12px;
    width: 400px;
    background: #adf8df;
    display: block;
    text-align: center;
    margin: 6px auto;
    padding: 20px;
}

.recipe-1 {
    width: 400px;
    background: #adf8df;
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 8px;
}

.recipe-2 {
    width: 400px;
    background: #adf8df;
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 8px;
}

.recipe-3 {
    width: 400px;
    background: #adf8df;
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 8px;
}